<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>Books Available:</h1>

    <!-- ADD THIS FORM -->
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <form method="post" action="{% url 'relationship_app:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
    <!-- END OF ADDED FORM -->

    <ul>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
